*
{
	margin: 0px;
	padding: 0px;
	scroll-behavior: smooth;
}
body{
	scroll-behavior: smooth;
}
*::selection {
	color: white;
	background: rgb(76, 247, 133);
  }
/* Navigation */
a{
	color: black;
	text-decoration: none;
}
.navbar
{
	display: flex;
	height: 80px;
	align-items: center;
	position: sticky;
}
.navbtns
{
	transition-property: all;
	transition-duration: .2s;
	flex-direction: column;
    position: relative; 
	list-style: none;
	height: 30px;
	width: 60px;
	text-align: center;
}
ul li  a
{
	padding: 10px;
	transition-property: all;
	transition-duration: .2s;
width:100px;
height: 30px;
text-decoration: none;
color: rgb(66, 61, 61);
font-size: 14px;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
ul li a:hover{
    font-weight: 500;
	cursor: pointer;
	color: rgb(76, 247, 133) ;
	border-bottom: 2px solid rgb(76, 247, 133);
}
#navbtn1
{
	left: 32%;
}
#navbtn2
{
	left: 37%;
}
#navbtn3
{
	left: 43%;
	width: 70px;
}
#navbtn4{
	left: 47%;
}
#maincontent button
{
	position: relative;
	left: -28%;
	top: 62%;
	height: 30px;
	width: 150;
	font-family: sans-serif;
	background-color: rgba(76, 247, 133, 0.781);
	border: none;
	border-radius: 5px;
	transition-property: all;
	transition-duration: .4s;
		color: rgb(66, 61, 61);
	font-size: 16px;

}
#maincontent button:hover{
	cursor: pointer;
	background-color: rgb(76, 247, 133);;
		transform: scale(1.15);
		box-shadow: rgb(76, 247, 133) 0px 22px 70px 4px;
}

#maincontent{
	width: 500px;
	height: 400px;
	position: relative;
	left: 30%;
}
#maincontent img{
	position: relative;
	top:50px;
	left: 90px;
	width: 300px;
}
#maincontent header{
	color:rgb(66, 61, 61);
	position: absolute;
	top: 250px;
	left: 150px;
	font-size: 32px;
	font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
#maincontent p{
	position: absolute;
	top: 310px;
	text-align: center;
	font-family: sans-serif;
	color: rgba(66, 61, 61, 0.746);
	font-size: 16px;
	line-height: 40px;
	letter-spacing: 2px;
}
#borderdiv1{
	position: absolute;

	width: 400px;
	height: 400px;
	top:900px;
	left:50px;
	border-radius: 200px;
	background-color: rgba(216, 210, 210, 0.13);

}
#borderdiv2{
	position: absolute;

	width: 400px;
	height: 400px;
	top:900px;
	left:475px;
	border-radius: 200px;
	background-color: rgba(216, 210, 210, 0.13);

}
#borderdiv3{
	position: absolute;

	width: 400px;
	height: 400px;
	top:900px;
	left:900px;
	border-radius: 200px;
	background-color: rgba(216, 210, 210, 0.13);

}
#myfacilities{

	height: 600px;
	width: 100%;
	position: absolute;
	top:750px;
	display: flex;

}
#myfacilities header{
color: rgb(66, 61, 61);
font-size:  38px;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
left: 570px;
position: absolute
}
#myfacilities p {
	font-family: sans-serif;
	font-size: 32px;
	color: rgba(66, 61, 61, 0.746);
}

#facility1 img{
position: absolute;
top:200px;
left: 100px;
}
#facility2 img{
	position: absolute;
top:180px;
left: 555px;
}

#facility3 img{
	position: absolute;
top:195px;
left: 960px;
}
#facility1 p{
position: absolute;
top: 420px;
left: 95px;
letter-spacing: 2px;
}
#facility2 p{
	position: absolute;
	top: 420px;
	left: 570px;
	letter-spacing: 4px;

}

#facility3 p{
	position: absolute;
	top: 420px;
	left: 1000px;
	letter-spacing: 3px;
}